<h2 id="about">
    <a href="#about">
        Über das Projekt
        <br />
        <svg width="13px" height="9px" viewBox="0 0 13 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g transform="translate(-1870.000000, -1337.000000)" fill="currentColor">
                <polygon points="1881.75781 1337.75 1882.5 1338.57031 1876.25 1345.25 1870 1338.57031 1870.74219 1337.75 1876.25 1343.60938"></polygon>
            </g>
        </svg>
    </a>
</h2>

<p>Lorem Ipsum.</p>
<p>Lorem Ipsum.</p>
<p>Lorem Ipsum.</p>
<p>Lorem Ipsum.</p>
<p>Lorem Ipsum.</p>
<p>Lorem Ipsum.</p>
<p>Lorem Ipsum.</p><p>Lorem Ipsum.</p>
<p>Lorem Ipsum.</p>