
body {
  font-family: $font-family;
  color: $white;
}

h1 {
  font-weight: 300;
  line-height: 120%;
  @include font-size(28);
}

h2 {
  font-weight: 300;
  line-height: 140%;
  @include font-size(18);
  letter-spacing: 1px;
}

p {
  font-weight: normal;
  @include font-size(15);
  line-height: 155%;
  opacity: 0.75;
}

a {
  color: $white;
  text-decoration: underline;
  opacity: 0.75;
}

@media #{$tablet} {
  h1 { @include font-size(38); }
  h2 { @include font-size(24); }
}