<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Museumsfinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <header>
        <h1>{% trans %}app.title{% endtrans %}</h1>
    </header>

    <app>Loading...</app>

    <footer>
        <article>
            {% include '@App/Default/about/' ~ app.request.locale ~ '.html.twig' %}
        </article>
    </footer>

    <script type="text/javascript" src="{{ asset('ng-museumfinder/inline.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ng-museumfinder/polyfills.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ng-museumfinder/vendor.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ng-museumfinder/main.bundle.js') }}"></script>
</body>
</html>
