
html {
  min-height: 100%;
}

body {
  background: #3C312F;

  .app-inner {
    > header {
      text-align: center;
      height: 40vh;
      position: absolute;
      top: 10vh;
      left: 20px;
      right: 20px;
      transition: all 0.25s ease-in;

      .logo {
        color: $gold;
        max-width: 108px;
        width: 22.5%;
        height: auto;
        display: inline-block;
        margin-bottom: 20px;
      }

      button.small {
        left: 10px;
        position: absolute;
        top: 10px;
        padding: 0;
        height: 30px;
        width: 30px;
        line-height: 10px;

        &:last-child {
          left: auto;
          right: 15px;
        }
      }
    }

    > .intro {
      display: block;
      height: 40vh;
      top: 50vh;
      left: 20px;
      right: 20px;
      position: absolute;
    }

    > footer {
      margin: 87vh 0 0 0;
      padding-top: 10px;

      h2:first-child {
        text-align: center;
        margin-bottom: 50px;

        a {
          display: block;
          opacity: 1;
          text-decoration: none;
        }
      }
    }

    &.started {
      > header {
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        border-bottom: 1px solid rgba(255,255,255,0.25);

        .logo {
          height: 20px;
          width: auto;
          margin: 15px;
          vertical-align: middle;
        }

        h1 {
          display: none;
        }
      }

      > footer {
        display: none;
      }
    }
  }
}