
.text-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-top: -40px;
  padding: 20px;

  strong, p strong, ul li strong, ol li strong {
    font-weight: 600;
  }

  .light {
    opacity: 0.75;
  }

  sub {
    font-size: 10px;
  }

  em {
    font-style: italic;
  }

  code {
    font-size: 12px;
    display: block;
    line-height: 200%;
    margin: 10px 0;
    padding: 5px 10px;
    background: rgba(0,0,0,0.25);
  }

  p {
    line-height: 170%;
    margin-bottom: 10px;
  }

  h3 {
    font-weight: 300;
    line-height: 140%;
    @include font-size(20);
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 5px;

    &:before {
      content: "»";
      display: inline-block;
      margin-right: 5px;
    }
  }

  ul, ol {

    list-style: circle;
    margin: 5px 0 5px 20px;

    li {
      font-weight: normal;
      @include font-size(15);
      line-height: 140%;
      margin-bottom: 10px;
    }
  }
}